<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/Shashwat-06"
        ><i class="fa-brands fa-square-github"></i
      ></a>
      <a href="https://github.com/Shashwat-06">Made by Shashwat</a>
    </div>

    <div class="f-info-brand">&copy;2025 WanderWall, Inc.</div>
    <div class="f-info-links">
      <a href="#">Privacy</a> &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
